.ServicesSection {
    flex-direction: row-reverse;

    .description {
        padding: 0;
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            @media (max-width: 900px) {
                justify-content: center;
            }
            .card {
                flex-basis: 17rem;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                @media (max-width: 900px) {
                    align-items: center;
                }
                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    h3 {
                        margin-left: 1rem;
                        background: white;
                        color: black;
                        padding: 1rem;
                        text-align: end;
                    }
                }
            }
        }

        h2 {
            padding-bottom: 5rem;
            text-align: end;
            @media (max-width: 900px) {
                text-align: center;
            }
        }

        p {
            width: 70%;
            padding: 2rem 0rem 4rem 0rem;
        }
    }

    .image {
        padding-right: 5rem;
        @media (max-width: 900px) {
            padding: 0;
        }
    }
}